<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>items</key>
        <array>
            <dict>
                <key>assets</key>
                <array>
                    <dict>
                        <key>kind</key>
                        <string>software-package</string>
                        <key>url</key>
                        <string>https://contentmsa-sh.vips100.com/v2/delivery/data/bbe1e2e3e78f4fb0bf38d4f87da1b8e3/?token=</string>
                            </dict>
                            <dict>
                            <key>kind</key>
                            <string>display-image</string>
                            <key>url</key>
                            <string>https://contentmsa-sh.vips100.com/v2/delivery/data/a3f558f9dc464d75b0b6d086b1efcc05/?token=</string>
                            </dict>
                            <dict>
                            <key>kind</key>
                            <string>full-size-image</string>
                            <key>url</key>
                            <string>https://contentmsa-sh.vips100.com/v2/delivery/data/a3f558f9dc464d75b0b6d086b1efcc05/?token=</string>
                            </dict>
                            </array>
                            <key>metadata</key>
                            <dict>
                            <key>bundle-identifier</key>
                            <string>com.govtong.angell</string>
                            <key>bundle-version</key>
                            <string>1.0.0.2</string>
                            <key>kind</key>
                            <string>software</string>
                            <key>title</key>
                            <string>组信通</string>
                            </dict>
                            </dict>
                            </array>
                            </dict>
                            </plist>
