<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://sdl73.yunpan.360.cn/share.php?method=Share.download&cqid=b125f4475cb1dc41b0e0e40d9b2441a8&dt=73.cce71fc2c1f63712984737716f4b29be&e=1455687131&fhash=5fbd5e51e4302f6b5dea64d0afb3d2cda8bf504b&fname=angellgovtong.ipa&fsize=6135394&nid=14555001309403620&st=c96ce723d3ea5d39efc50b66cc6157ed&xqid=228512052</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>https://sdl73.yunpan.360.cn/share.php?method=Share.download&cqid=b125f4475cb1dc41b0e0e40d9b2441a8&dt=73.a4e37aff8adf5bc6012e16008548d1fe&e=1455672601&fhash=731a1d70548660158f7549cf87218c49bf47c24c&fname=55.png&fsize=50076&nid=14554990889445816&st=a9f3f558d64214dad009810e116bb548&xqid=228512052</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>https://sdl73.yunpan.360.cn/share.php?method=Share.download&cqid=b125f4475cb1dc41b0e0e40d9b2441a8&dt=73.55aa23e0c8bbbb791441542f64f0d76f&e=1455672547&fhash=b12cd302e76c16881f01d3ac2d115ac4eb2a8094&fname=5.png&fsize=6160&nid=14554990859429790&st=3bf89722bef1e3e24d4d581d731d8333&xqid=228512052</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.govtong.angell</string>
				<key>bundle-version</key>
				<string>1.0.0.2</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>组信通</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
